<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="7zip" />
	<package id="bat" />
	<package id="adobereader" />
	<package id="bottom" />
	<package id="brave" />
	<package id="clion-ide" />
	<package id="curl" />
	<package id="datagrip" />
	<package id="dependencies" />
	<package id="dependencywalker" />
	<package id="die" />
	<package id="dust" />
	<package id="fd" />
	<package id="git" />
	<package id="golang" />
	<package id="googlechrome" />
	<package id="goland" />
	<package id="gotop" />
	<package id="gping" />
	<package id="ilspy" />
	<package id="keepassxc" />
	<package id="jq" />
	<package id="less" />
	<package id="microsoft-windows-terminal" />
	<package id="notepadplusplus" />
	<package id="putty" />
	<package id="pestudio" />
	<package id="procexp" />
	<package id="python" />
	<package id="ripgrep" />
	<package id="sd-cli" />
	<package id="slack" />
	<package id="speedtest" />
	<package id="sysinternals" />
	<package id="visualstudio2019-workload-vctools" />
	<package id="visualstudio2019buildtools" />
	<package id="vscode" />
	<package id="wget" />
	<package id="windows-sdk-10.1" />
	<package id="winmerge" />
	<package id="yt-dlp" />
</packages>
